
input[type="text"] {
    padding: .75em 1.25em;
    border-radius: .33em;
    border: .125em solid #eaeaea;
    font-size: 1em;
    font-family: "Arial"
}

input[type="submit"] {
    display: inline-block;
    padding: .75em 1.25em;
    border-radius: .33em;
    font-size: 1em;
    background-color: #49ab81;
    color: white;
    font-family: "Source Code Pro Semibold";
    font-weight: bold;
    transition: 0.1s;
}

input[type="submit"]:hover {
    cursor: pointer;
    background-color: darkgreen;
}



.unamecont {
    box-shadow: .125em .15em 1.5em rgba(0,0,0,0.15);
    padding: 5em 1.25em 2.5em;
    text-align: center;
    max-width: 60em;
    background-color: #efefef;
    margin: 3em auto 0 ;
    height: 15em;
}

.bodycont {
    display: none;
    max-width: 60em;
    margin: 0 auto;
}

.chatwrap {
    float: left;
    width: 49%;
    border-radius: .6em;
    margin-bottom: .6em;
    padding: 1em;
    box-sizing: border-box;
    text-align: center;
    background-color: #eaeaea;
}

.chatcont {
    height: 25em;
    background-color: white;
    border-radius: .5em;
    margin-bottom: .6em;
    padding: 1em;
    color: black;
    text-align: left;
}

.nameswrap {
    float: right;
    width: 50%;
    border: 1px solid #aaaaaa;
    border-radius: .6em;
    padding: 1.25em;
    font-weight: bold;
    line-height: 1.5;
    box-sizing: border-box; 
    color: #3a3a3a;
}